

.fw_box_tt{ width:177px; overflow:auto; zoom:1; float:left;}
.fw_tt_bt{ height:0; overflow:hidden;}
.fw_box_tt a{ display:none;}
.fw_tt_jg em{ color:#666; font-size:12px; line-height:24px; font-family:"微软雅黑"; font-weight:500;}
.mj_db{ width:40px; height:26px; padding-left:33px; float:left; background:url(/bioec_html/images/product/btnt.png) no-repeat 0px 0px; display:block; cursor:pointer; color:#666; line-height:26px; }
.mj_db_hover{background:url(/bioec_html/images/product/btnt.png) no-repeat 0px -26px;}
.mj_db_click{background:url(/bioec_html/images/product/btnt.png) no-repeat 0px -52px; color:#333;}


.db_box{ width:177px; height:35px; z-index:99; right:10px; bottom:0px; position:fixed;_position:absolute; _margin-top:expression(document.documentElement.clientHeight-this.style.pixelHeight+document.documentElement.scrollTop); font-family: "宋体";}
.db_right{ width:0; height:0; overflow:hidden; background:#fff; display:none;}
.db_left{ width:177px; height:35px; background:url(/bioec_html/images/product/pkbg2.gif) no-repeat; cursor:pointer; display:none;}
.db_left:hover{ background:url(/bioec_html/images/product/pkbg1.gif) no-repeat;}
.db_left a{ width:167px; height:35px; line-height:35px; text-align:right; padding-right:10px; display:inline-block; _display:inline; *display:inline; zoom:1; color:#fff; text-decoration:none;}
.db_left a em{ margin:0 5px; font-weight:bold; color:#ff0;}



