<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes('contacts.list') }"><a ui-sref="contacts.list">全部的联系人</a></li>
        <li class="nav-header">前面的这几个联系人</li>

        <!-- This <li> will only add the 'active' class if 'contacts.detail' or its descendants are active
             AND if it is the link for the active contact (aka contactId)
             这<li>只会增加“active”类如果“联系人。细节”或它的后代是活跃的
            如果是主动联系的链接(又名contactId)
             -->
        <li ng-repeat="contact in contacts | limitTo:2" ui-sref-active="active">

          <!-- Here's a ui-sref that is also providing necessary parameters
          这里有一个ui-sref也提供必要的参数
          -->
          <a ui-sref="contacts.detail({contactId:contact.id})">{{contact.name}}</a>
        </li>
      </ul>
      <hr>
      <button class="btn" ng-click="goToRandom()">Show random contact</button>

      <!-- Another named view -->
      <!-- 另一个命名视图 -->
        menuTip view
      <div ui-view="menuTip" class="slide"></div>
    </div>
  </div>

  <!-- Our unnamed main ui-view for this template -->
  <!-- 我们不愿透露姓名的主要ui视图模板 -->
    联系人中主要的视图
  <div ui-view class="span9 slide"></div>
</div>
