/*贴吧列表*/
.postbar{}
	.postbar_head{ height:130px; position:relative;}
	.postbar_head_logo{ position:absolute; top:43px; left:0;}
	.postbar_head_logo img{ max-width:63px; max-height:59px; padding:1px; border:1px solid #f4f4f4;}
	.postbar_head_name{ height:34px; position:absolute; top:43px; left:80px; color:#333; overflow:hidden;}
	.postbar_head_name img{ margin:3px 7px 0 20px;}
	.postbar_head_name a{ font-size:14px;}
	.postbar_head_tj{ position:absolute; top:85px; left:80px;}
	.postbar_head_tj span{ color:#f27101; margin:0 5px;}
	.postbar_head_fb{ position:absolute; top:50px; right:0;}
	.postbar_nav{ height:50px; background:#f7f8fa;}
	.postbar_nav ul{}
	.postbar_nav ul li{ width:80px; margin:10px 10px 0 5px; padding:5px 10px 0 10px; float:left; text-align:center; font-size:16px; border:1px solid #f7f9fb;}
	.postbar_nav ul li a{}
	.postbar_nav_li{ position:relative;}
	.postbar_nav_none{ width:100px; display:none; padding:10px 0 5px 0; position:absolute; left:-1px; border:1px solid #eee; border-top:none; background:#fff;}
	.postbar_nav_none p{ padding-bottom:5px;}
	.postbar_nav_none p a{ color:#666 !important;}
	.postbar_nav_none p a:hover{ color:#f27101 !important;}
	.postbar_nav_li:hover{ background:#fff; border:1px solid #eee; border-bottom:none;}
	.postbar_nav_li:hover .postbar_nav_none{ display:block;}
	.postbar_search{ width:212px; height:25px; float:right; position:absolute; top:143px; right:10px; background:url(../../images/spis.png) 0 -497px no-repeat;}
	.postbar_form{}
	#postbar_text{ width:166px; height:17px; padding:3px 7px; color:#999; line-height:17px; font-size:12px; border:none; background:none; position:absolute; left:0; top:0;}
	#postbar_btn{ width:32px; height:25px; border:none; background:none; cursor:pointer; position:absolute; right:0; top:0;}
	#postbar_btn:hover{ background:url(../../images/spis.png) -222px -497px no-repeat;}
	.postbar_thisnav{ color:#f27101 !important;}
	
	.postbar_left{ width:800px; float:left;}
	.postbar_list_tit{ height:30px; padding:0 10px; margin-bottom:10px; border-bottom:2px solid #efefef; font-size:14px; color:#333;}
	.postbar_list_tit p{ float:right; font-size:14px;}
	.postbar_list_tit span{ color:#999;}
	.postbar_box{ height:85px; position:relative; border-bottom:1px dashed #ececec;}
	.postbar_box:hover{ background:#fffbf1;}
	.postbar_img{ position:absolute; top:15px; left:10px;}
	.postbar_img img{ max-width:50px; max-height:50px; _max-width:50px; _max-height:50px;}
	.postbar_tit{ position:absolute; top:20px; left:75px;}
	.postbar_tit img{ margin:-3px 0 0 10px;}
	.postbar_name{ position:absolute; top:45px; left:75px;}
	.postbar_name span{ padding-left:15px; color:#999;}
	.postbar_name a{ color:#f27101; margin-left:20px; display:none;}
	.postbar_name a:hover{ color:#f27101;}
	.postbar_box:hover .postbar_name a{ display:inline-block; _display:inline; *display:inline; zoom:1;}
	.postbar_num{ position:absolute; right:40px; top:15px; text-align:center; line-height:20px;}
	.postbar_num p{ color:#999;}
	
	
	.postbar_right{ width:180px; float:right;}
	.postbar_cpcs{ padding:15px 10px;}
	.postbar_cpcs li{ line-height:22px; color:#333; margin-bottom:8px;}
	.postbar_cpcs li span{ color:#888;}
	.postbar_cpcs li b{ color:#f27101; padding:0 5px;}
	.postbar_cpcs li img{ margin:-2px 0 0 5px;}
	.postbar_rqph{ padding:10px;}
	.postbar_rqph li{ height:30px; line-height:30px;}
	.postbar_rqph li a{ width:170px; padding-left:10px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; display:block; color:#666; background:url(../../images/spis.png) 0 -562px no-repeat;}
	.postbar_rqph li a:hover{ color:#f27101;}
	
	.write_post{ border:1px solid #e9ebf0; padding:25px; margin-top:30px; background:#f6f6f6;}
	.write_post_tit{}
	.write_post_tit b{ font-size:14px;}
	.write_post_tit span{ float:right;}
	.write_post_text{ width:729px; height:14px; line-height:14px; padding:8px; color:#666; margin-top:15px; border-top:1px solid #9a9a9a; border-left:1px solid #9a9a9a; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
	
	
/*贴吧详情*/
	.postbar_left .list2{ margin:8px 8px 0 0;}
	.postcont_tit{ line-height:30px;}
	.postcont_tit a{ font-size:12px; color:#0075d5; margin-left:10px;}
	.postcont_tit a:hover{ color:#f27101;}
	.posfirst{ padding:10px 10px 20px 0; border-bottom:1px dotted #dedede;}
	.first_head{ position:relative; height:50px;}
	.first_img{ position:absolute; left:0; top:0;}
	.first_name{ position:absolute; left:65px; top:5px; font-weight:bold;}
	.first_name span{ color:#f27101; margin-left:10px;}
	.frist_xinxi{ position:absolute; top:30px; left:65px; color:#666;}
	.frist_xinxi span{ color:#999;}
	.frist_floor{ position:absolute; right:0; top:0; line-height:24px; text-align:right;}
	.frist_floor a{ font-weight:bold;}
	.first_p{ padding:0 0 0 65px; padding-top:10px; display:inline-block; _display:inline; *display:inline; zoom:1; overflow:hidden;}
	.first_p p{ font-size:14px; line-height:26px; padding-bottom:5px; text-indent:28px;}
	
	.list{ border-bottom:1px dashed #dedede; padding:25px 0 20px 0;}
	.list_t{ color:#999; height:24px; line-height:24px; float:left;}
	.list dt{ float:left; width:50px; height:50px;}
	.list dt img{ max-width:50px; max-height:50px;}
	.list dd{ width:730px; float:left; padding-left:10px;}
	.list_t span{ color:#f27101; padding-right:10px;}
	.list_t p{ float:right; color:#888;}
	.list_m{}
	.list_nr{ width:690px; float:left;}
	.list_nr p{ font-size:14px; line-height:26px; padding-bottom:5px; text-indent:28px;}
	.huifu{ float:right; margin-top:2px;}
	
	.floor_son{ border:1px solid #efefef; background:#f8f8f8; padding:10px; margin:20px 0 0 0;}
	.floor_son_box{ border-bottom:1px dotted #dbdbdb; padding:10px 0;}
	.floor_son_tx{ width:36px; height:36px; float:left;}
	.floor_son_tx img{ max-width:36px; max-height:36px;}
	.floor_son_nr{ width:650px; float:left; padding:0 10px; line-height:24px;}
	.floor_son_nr span{ color:#f27101;}
	.floor_son_time{ text-align:right; color:#999;}
	.floor_son_time a{ margin-left:10px; color:#999 !important;}
	.floor_son_time a:hover{ color:#f27101 !important;}
	#floor_text{ width:685px; line-height:22px; border:1px solid #eee; padding:5px 10px; margin-top:10px; font-size:12px;}
	.floor_btn{ width:54px; height:23px; float:right; margin:10px 10px 0 0; background:#ebebeb; border:none; color:#666; cursor:pointer;}
	.floor_btn:hover{ background:#f27101; color:#fff;}
	.floor{ display:none;}
	
	.cktext{ padding-top:20px;}
	.ckbtn{ padding:10px 0 0 0; text-align:right;}
	
	/*我关注的贴吧*/
	.collect_postbar{ width:100%; border-top:1px solid #eceff3; border-right:1px solid #eceff3; border-left:1px solid #eceff3;}
	.collect_postbar td{ padding:5px 0 5px 15px;}
	.collect_postbar td span{ color:#999;}
	.collect_tit{}
	.collect_tit td{ height:20px; background:#f7f7f7;}
	.collect_list:hover{ background:#fffbf1;}
	.collect_list td{ height:40px; border-bottom:1px solid #eceff3;}
	.collect_list td a{ font-size:14px; font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体"; font-weight:500;}
	.collect_list td span a{ font-size:12px; color:#f27101 !important; margin-left:15px; display:none;}
	.collect_list:hover a{ display:inline-block; _display:inline; *display:inline; zoom:1;}
	
	
	/*我发布的帖子*/
	.my_post .postbar_box{ height:75px;}
	.my_post .postbar_box .postbar_tit{ left:15px;}
	.my_post .postbar_box .postbar_name{ left:0px;}
	
	/*我回复的帖子*/
	.myreply{ padding:20px 10px 0px 10px; border-bottom:1px dotted #cbd2d8;}
	.myreply dt{ width:700px; height:36px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
	.myreply dt img{ max-width:36px; max-height:36px; margin-right:10px;}
	.myreply dd{ width:755px; height:17px; padding:10px 0 0 15px; overflow:hidden;}
	.myreply dd i{ width:50px; display:block; text-align:center; float:right; color:#999;}
	.myreply dd span{ width:620px; display:block; float:left; color:#666; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
	.myreply dd img{ width:20px; height:17px; float:left; margin-right:10px;}
	.myreply dd a{ display:none; color:#f27101 !important ;}
	.myreply:hover{ background:#fffbf1;}
	.myreply:hover dd a{ display:inline-block; _display:inline; *display:inline; zoom:1;}
	

