
/*厂家列表*/
#retrieval{ padding:40px 0;}
	#retrieval span{ width:27px; height:22px; float:left; line-height:18px; text-align:center; display:block; padding-right:4px;}
	#retrieval span a{ width:27px; height:22px; display:block; text-decoration:underline;}
	.retrieval_tit{ width:110px !important; text-align:left !important;}
	#retrieval a.selected{ font-size:12px; color:#fff; background:url(/bioec_html/images/spis.png) -244px -77px no-repeat; text-decoration:none;}
	
.retrieval_list{ width:464px; height:120px; float:left; padding:0 20px 10px 10px; border:3px solid #fff; margin-top:20px; overflow:hidden;}
	.retrieval_list:hover{ border:3px solid #eee; background:#fffcfa;}
	.retrieval_list_tit{ padding:10px 0;}
	.retrieval_list_p{ line-height:24px; color:#666;}
	.retrieval_list_p p{ width:330px; display:inline-block}
	.retrieval_list_p span{ color:#f27101; padding:0 5px;}
	.retrieval_list_p img{ float:right; margin-right:20px; max-width:100px; _max-width:100px; max-height:40px; _max-height:40px;}
	
.seller_search{ width:212px; height:25px; float:right; background:url(/bioec_html/images/spis.png) 0 -497px no-repeat;}
	#seller_form{ position:relative;}
	#seller_text{ width:166px; height:17px; padding:3px 7px; color:#999; line-height:17px; font-size:12px; border:none; background:none; position:absolute; left:0; top:0;}
	#seller_btn{ width:32px; height:25px; border:none; background:none; cursor:pointer; position:absolute; right:0; top:0;}
	#seller_btn:hover{ background:url(/bioec_html/images/spis.png) -222px -497px no-repeat;}
	

	
/*厂家详情*/
.factory_intro{ padding:30px 0;}
	.intro_name{ width:1000px;}
	.intro_name img,.intro_p img{ float:right;}
	.intro_name img{ padding-left:20px; max-width:200px; _max-width:200px; max-height:40px; _max-height:40px;}
	.intro_p img{ padding-left:20px; max-width:165px; _max-width:165px; max-height:105px; _max-height:105px; margin-top:10px;}
	.intro_p{ line-height:28px; text-indent:28px;}
	.seller_fl{ padding:10px 0; font-size:12px; color:#999;}
	.seller_fl span{ line-height:60px; padding:0 20px 0 15px; display:block; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; float:left;}
	.seller_fl span a{ font-size:18px;}
	
/*商家详情*/
.seller_left{ width:740px; float:left;}
	.seller_name{ height:80px; line-height:80px; padding-top:20px;}
	.seller_name img{ float:right; margin:30px 20px 0 0; max-height:40px; max-width:200px; _max-height:40px; _max-width:200px;}
	.seller_jj{ padding:0 20px;}
	.seller_jj p{ font-size:14px; color:#666; padding-bottom:10px; text-indent:28px; line-height:28px;}
	.level{ padding:10px 0 10px 8px; line-height:24px; color:#999; border-bottom:1px dotted #eee;}
	.level span{ width:900px; display:inline-block; _display:inline; *display:inline; zoom:1; float:right;}
	.level a{ margin:0 5px;}
	.level_tit{ height:30px; line-height:30px; margin-top:10px; padding:0 10px; background:#f5f5f5;}
	.level_tit a{ float:right;}
	
	.catalog{ padding:10px 0; font-size:12px; color:#999;}
	.catalog span{ line-height:50px; padding:0 25px 0 15px; display:block; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; float:left;}
	.catalog span a{ font-size:20px;}
	#seller_cj span{ line-height:40px;}
	#seller_cj span a{ font-size:14px;}
	.factory_list{ width:100%;}
	.factory_list_tit td{ height:30px; color:#999; border-bottom:2px solid #f5f5f5; padding:0 10px;}
	.factory_list_m td{ border-bottom:1px solid #eee; color:#666; padding:10px 10px; line-height:24px;}
	.factory_list_m:hover td{ background:#fffbf1;}
	
.seller_right{ width:230px; float:right; padding-top:40px;}
	.seller_rtit{ height:38px; line-height:38px; background:#f6f6f6; padding:0 15px;}
	.seller_rtit span{ height:42px; display:block; padding-left:35px; background:url(/bioec_html/images/spis.png) 0 -450px no-repeat;}
	.seller_mas{ padding:10px 10px 10px 25px;}
	.seller_mas li{ line-height:22px; padding:15px 0 0 0; color:#999;}
	.seller_mas li span{ width:150px; padding-left:8px; color:#333;}
	.seller_mas li span b{ color:#f27101; margin-right:10px;}
	.seller_sc{ padding:10px 0 30px 25px;}
	.seller_sc div{ margin-top:4px;}
	.seller_sc a{ margin:0 0 0 10px;}
	.seller_tj{ padding:10px 10px 0 25px;}
	.seller_tj li{ height:30px; line-height:30px; padding-left:10px; width:100%; font-size:14px; background:url(/bioec_html/images/spis.png) 0 -538px  no-repeat;}
	.seller_tj li a{ width:100%; display:block; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
	
/*贴吧列表*/
.postbar{}
	.postbar_head{ height:130px; position:relative;}
	.postbar_head_logo{ position:absolute; top:43px; left:0;}
	.postbar_head_logo img{ padding:1px; border:1px solid #f4f4f4;}
	.postbar_head_name{ height:34px; position:absolute; top:43px; left:80px; color:#232323; overflow:hidden;}
	.postbar_head_name img{ margin:3px 7px 0 20px;}
	.postbar_head_name a{ font-size:14px;}
	.postbar_head_tj{ position:absolute; top:85px; left:80px;}
	.postbar_head_tj span{ color:#f27101; margin:0 5px;}
	.postbar_head_fb{ position:absolute; top:50px; right:0;}
	.postbar_nav{ height:50px; line-height:50px; background:#f7f8fa;}
	.postbar_nav a{ margin:0 40px 0 10px;}
	.postbar_search{ width:212px; height:25px; float:right; position:absolute; top:143px; right:10px; background:url(/bioec_html/images/spis.png) 0 -497px no-repeat;}
	.postbar_form{}
	#postbar_text{ width:166px; height:17px; padding:3px 7px; color:#999; line-height:17px; font-size:12px; border:none; background:none; position:absolute; left:0; top:0;}
	#postbar_btn{ width:32px; height:25px; border:none; background:none; cursor:pointer; position:absolute; right:0; top:0;}
	#postbar_btn:hover{ background:url(/bioec_html/images/spis.png) -222px -497px no-repeat;}
	
	.postbar_left{ width:800px; float:left;}
	.postbar_list_tit{ height:30px; padding:0 15px; margin-bottom:10px; border-bottom:2px solid #efefef; font-size:14px; color:#333;}
	.postbar_list_tit p{ float:right; font-size:14px;}
	.postbar_list_tit span{ color:#999;}
	.postbar_box{ height:85px; position:relative; border-bottom:1px dashed #ececec;}
	.postbar_box:hover{ background:#fffbf1;}
	.postbar_img{ position:absolute; top:15px; left:10px;}
	.postbar_img img{ max-width:50px; max-height:50px; _max-width:50px; _max-height:50px;}
	.postbar_tit{ position:absolute; top:20px; left:75px;}
	.postbar_tit img{ margin:-3px 0 0 10px;}
	.postbar_name{ position:absolute; top:45px; left:75px;}
	.postbar_name span{ padding-left:15px; color:#999;}
	.postbar_num{ position:absolute; right:40px; top:15px; text-align:center; line-height:20px;}
	.postbar_num p{ color:#999;}
	
	.postbar_right{ width:180px; float:right;}
	.postbar_cpcs{ padding:15px 10px;}
	.postbar_cpcs li{ line-height:22px; color:#333; margin-bottom:8px;}
	.postbar_cpcs li span{ color:#888;}
	.postbar_cpcs li b{ color:#f27101; padding:0 5px;}
	.postbar_cpcs li img{ margin:-2px 0 0 5px;}
	.postbar_rqph{ padding:10px;}
	.postbar_rqph li{ height:30px; line-height:30px;}
	.postbar_rqph li a{ width:170px; padding-left:10px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden; display:block; color:#666; background:url(/bioec_html/images/spis.png) 0 -562px no-repeat;}
	.postbar_rqph li a:hover{ color:#f27101;}
	
/*贴吧详情*/
	.postbar_left .list2{ margin:8px 8px 0 0;}
	.postcont_tit{ line-height:30px; float:left;}
	.posfirst{ padding:10px 10px 20px 0; border-bottom:1px dotted #dedede;}
	.first_head{ position:relative; height:50px;}
	.first_img{ position:absolute; left:0; top:0;}
	.first_name{ position:absolute; left:65px; top:5px; font-weight:bold;}
	.first_name span{ color:#f27101; margin-left:10px;}
	.frist_xinxi{ position:absolute; top:30px; left:65px; color:#666;}
	.frist_xinxi span{ color:#999;}
	.frist_floor{ position:absolute; right:0; top:0; line-height:24px; text-align:right;}
	.frist_floor a{ font-weight:bold;}
	.first_p{ padding:0 0 0 65px; padding-top:10px; display:inline-block; _display:inline; *display:inline; zoom:1; overflow:hidden;}
	.first_p p{ font-size:14px; line-height:26px; padding-bottom:5px; text-indent:28px;}
	
	.list{ border-bottom:1px dashed #dedede; padding:25px 0 20px 0;}
	.list_t{ color:#999; height:24px; line-height:24px; float:left;}
	.list dt{ float:left; width:50px; height:50px;}
	.list dt img{ max-width:50px; max-height:50px;}
	.list dd{ width:730px; float:left; padding-left:10px;}
	.list_t span{ color:#f27101; padding-right:10px;}
	.list_t p{ float:right; color:#888;}
	.list_m{}
	.list_nr{ width:690px; float:left;}
	.list_nr p{ font-size:14px; line-height:26px; padding-bottom:5px; text-indent:28px;}
	.huifu{ float:right; margin-top:2px;}
	
	.floor_son{ border:1px solid #efefef; background:#f8f8f8; padding:10px; margin:20px 0 0 0;}
	.floor_son_box{ border-bottom:1px dotted #dbdbdb; padding:10px 0;}
	.floor_son_tx{ width:36px; height:36px; float:left;}
	.floor_son_tx img{ max-width:36px; max-height:36px;}
	.floor_son_nr{ width:650px; float:left; padding:0 10px; line-height:24px;}
	.floor_son_nr span{ color:#f27101;}
	.floor_son_time{ text-align:right; color:#999;}
	.floor_son_time a{ margin-left:10px; color:#999 !important;}
	.floor_son_time a:hover{ color:#f27101 !important;}
	#floor_text{ width:685px; line-height:22px; border:1px solid #eee; padding:5px 10px; margin-top:10px; font-size:12px;}
	.floor_btn{ width:54px; height:23px; float:right; margin:10px 10px 0 0; background:#ebebeb; border:none; color:#666; cursor:pointer;}
	.floor_btn:hover{ background:#f27101; color:#fff;}
	.floor{ display:none;}
	
	.cktext{ padding-top:20px;}
	.ckbtn{ padding:10px 0 0 0; text-align:right;}
	
/*会员中心*/
.member_left{ width:150px; float:left; padding-top:30px;}
	.meleft_list{ padding:10px 10px 10px 20px; margin-bottom:15px;}
	.meleft_list li{ height:30px; line-height:30px; font-size:14px; padding:0 0 0 10px;}
	.meleft_list li a{ color:#666;}
	.meleft_list li a:hover{ color:#f27101;}
	.this_list{ background:url(/bioec_html/images/spis.png) 0 -597px no-repeat;}
	.this_list a{ color:#f27101 !important;}

.member_right{ width:810px; float:right; position:relative; top:30px;}
	.member_name{ position:absolute; left:0; top:10px;}
	.company{ position:absolute; right:95px; top:10px; text-align:right; max-width:450px;}
	.company_more{ position:absolute; top:11px; right:0;}
	.company_more_tit{ width:75px; padding:2px 0 0 10px; height:26px; color:#0075d5; cursor:pointer; position:absolute; z-index:10; top:-2px; right:0; background:url(/bioec_html/images/spis.png) 0 -648px no-repeat;}
	.company_more_li{ width:250px; border:1px solid #dedede; padding:10px; position:absolute; top:25px; right:0; display:none; background:#fff; box-shadow:0 1px 3px #ddd;}
	.company_more_li li{ padding:5px 0; line-height:20px;}
	.company_more_tit:hover{ color:#f27101; background:#eee url(/bioec_html/images/spis.png) 0 -702px no-repeat;}
	.company_more_tit:hover .company_more_li{ display:block;}
	
	.infor{ position:absolute; top:50px; left:0;}
	.infor tr:hover td{ background:none;}
	.infor td span{ font-size:12px; color:#f27101; padding-left:10px;}
	.infor_td td span{ color:#999;}
	
	.dingdan{ width:100%; position:absolute; top:170px;}
	.table_dj{ width:100%; margin:10px auto;}
	.table_dj td{ border-bottom:1px dotted #ddd; padding:10px; line-height:26px; color:#333;}
	.table_dj tr:hover td{ background:#fffbf6; color:#222;}
	.table_gz td{ line-height:22px; height:40px;}
	.table_djtit td{ height:16px; font-size:12px; border-bottom:2px solid #eee; padding:5px 10px; color:#666;}

	
	
/*用户登录*/
.login{ width:710px; margin:auto; padding-top:100px;}
	.login_left,.login_right{ width:354px; float:left;}
	#login_form{} 
	#login_name,#login_pd{ width:275px; height:30px; line-height:30px; font-size:14px; border:1px solid #cdcdcd; color:#757575; margin-top:15px; padding:4px 10px;}
	#login_btn{ width:297px; height:40px; line-height:40px; font-weight:bold; font-size:14px; color:#fff; letter-spacing:2px; border:none; background:#fc6808; cursor:pointer;}
	#login_btn:hover{ background:#e35e07;}
	.login_che{ width:297px; padding:25px 0; line-height:16px;}
	.login_che input{ margin-right:7px;}
	.login_che span{ float:right;}
	.login_right{ height:300px; text-align:center; border-left:1px solid #f1f1f1;}
	.login_rbg{ width:100px; height:100px; margin:20px auto; background:url(/bioec_html/images/spis.png) 0 -160px no-repeat;}
	

/*注册*/
.regist_left,.regist_right{ width:499px; float:left; margin-top:85px; text-align:center;}
	.regist_left{ border-right:1px solid #f1f1f1;}
	.regist_text{ padding:20px 0;}
	.regist_text p{ font-size:14px; line-height:36px; color:#888;}
	#regist_btn1{ line-height:36px; width:230px; height:36px; margin:auto; background:url(/bioec_html/images/spis.png) 0 -271px no-repeat;}
	#regist_btn1 a,#regist_btn2 a{ width:230px; height:36px; color:#fff; display:block; text-decoration:none;}
	#regist_btn1 a:hover{ background:url(/bioec_html/images/spis.png) 0 -317px no-repeat;}
	#regist_btn2,#regist_btn3{ width:230px; height:36px; line-height:36px; margin:auto; border:none; cursor:pointer; background:url(/bioec_html/images/spis.png) 0 -363px no-repeat;}
	#regist_btn2:hover,#regist_btn3 a:hover{ background:url(/bioec_html/images/spis.png) 0 -409px no-repeat;;}
	#regist_btn1,#regist_btn2,#regist_btn3{ font-size:18px; font-family:"Microsoft YaHei","微软雅黑","SimSun","宋体"; text-shadow:1px 1px 1px #333; font-weight:500; color:#fff; letter-spacing:2px;}
	.regist_form3{ padding:30px;}
	.regist_main{ padding:20px;}
	.regist_main li{ height:60px; line-height:40px; color:#999;}
	.regist_main li span{ width:70px; height:40px; display:block; float:left; text-align:right; padding-right:20px; font-size:14px; color:#666;}
	.regist_input{ width:255px; height:30px; line-height:30px; padding:0 10px; border:1px solid #dad8db; color:#333; margin-right:15px;}
	.regist_btn3{ text-align:center; margin-top:20px;}
	.regist_btn3 input{ margin:-2px 5px 0 0;}





































