<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>前端JS框架angular,增,删,查,改,排序, 例子</title>

<style type="text/css">
.expander {
	border: 1px solid black;
	width: 250px;
}

.expander>.title {
	background-color: black;
	color: white;
	padding: .1em .3em;
	cursor: pointer;
}

.expander>.body {
	padding: .1em .3em;
}
</style>

<script src="../common/js/inc/jquery-1.8.3.min.js"></script>

<!--  bootstrap css样式  美观,不用自己写样式 -->
<link rel="stylesheet" href="../common/css/bootstrap.min.css">
<!-- 引入他的框架JS 即可 -->
<script src="../common/js/inc/angular.min.js"></script>

<script src="js/angularTestService.js"></script>
</head>
<body>
	<div ng-app="my.new.module" ng-controller='books.list'>
		<input id="myText" type="text" ng-model="value" /> 
		
		
		<br>
		<button onclick="func()">test</button>
		<br>
		
		{{ value }}
		
		<select ng-model="color" ng-options="c.name for c in colors"></select>
	</div>
	
	 
</body>
</html>
