<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>前端JS框架angular</title>

<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://apps.bdimg.com/libs/angular.js/1.2.15/angular.min.js"></script>


</head>
<body ng-app="" ng-controller="controller">

	<script>
		function controller( $scope ) {
			service( $scope );
		}
		function service( $scope ) {
			$scope.isOpen = false;
			$scope.chenge = function() {
				$scope.isOpen = !$scope.isOpen;
			};
		}
	</script>

	{{isOpen}}

	<button class="btn btn-success" ng-click="isOpen = !isOpen">直接改变</button>
	<button class="btn btn-success" ng-click="chenge()">方法改变</button>
</body>
</html>
