<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="http://apps.bdimg.com/libs/angular.js/1.2.15/angular.min.js"></script>

<script>
	function userController( $scope ) {
		// 数据源
		$scope.users = [ {
			id : 1,
			name : '雷建军',
			age : 22
		}, {
			id : 2,
			name : '刘德华',
			age : 42
		}, {
			id : 3,
			name : '张学友',
			age : 43
		} ];
		// 纵 标题
		$scope.titles = [ "编号", "姓名", "年龄" ];
		// 对象属性数组
		$scope.propertys = ( function() {
			var pro = [];
			for ( key in $scope.users[0] ) {
				pro.push( key );
			}
			return pro;
		} )();

		$scope.deleteUser = function( index ) {
			$scope.users.splice( index, 1 );
		};
		$scope.addUser = function() {
			var time = new Date().getTime();
			var user = {
				id : time,
				name : "雷建军" + time,
				age : 22
			};
			$scope.users.push( user );
		};
	}
</script>
</head>
<body ng-app="" ng-controller="userController">
	<div class="container">

		<h3>用户列表</h3>
		<table class="table table-striped  table-bordered">
			<tr>
				<td>标题</td>
				<td ng-repeat="user in users">
					<button class="btn btn-danger" ng-click="deleteUser( $index )">
						<span class="glyphicon glyphicon-trash"></span> 移除对比
					</button>
				</td>
			</tr>
			<tr ng-repeat="key in propertys">
				<td>{{ titles[$index] }}</td>
				<td ng-repeat="user in users">{{ user[key] }}</td>
			</tr>
		</table>
		<button class="btn btn-success" ng-click="addUser()">
			<span class="glyphicon glyphicon-user"></span>添加对比
		</button>
	</div>
</body>
</html>
