<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>前端JS框架angular</title>

<style type="text/css">
.borderA, .borderB {
	width: 300px;
	height: 800px;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	float: left;
}

.borderB {
	float: right;
}

.moveA, .moveB {
	background-color: #0FC;
	width: 298px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
}

.moveB {
	background-color: #3cd;
}
</style>

<!-- 引入他的框架JS 即可 -->
<script src="js/angular.min.js"></script>

<script src="js/angularDirective2.js"></script>

<script type="text/javascript">
	//如果,没有引入jquery,则使用 , angular中集成精简jquery子集
	( function() {
		if ( typeof ( $ ) == "undefined" )
			jQuery = $ = angular.element;
	} )();
</script>
</head>
<body ng-app="myapp" id="ng-app" class="ng-app:myapp" ng-controller="dragController">
	<div></div>
	<div class="borderA" id="borderA" ng-mouseover="testA()" >
		<h1 style="background-color: #fcc;">对比栏</h1>
		<div drag dr-index="{{$index}}" dr-var-name="compares"  ng-repeat="compare in compares">
			<div class="moveA">商品名称:{{compare.productName}}</div>
		</div drag>
	</div>
	<div class="borderB" id="borderB" ng-mouseover="testB()" >
		<h1 style="background-color: #fcc;">管理栏</h1>
		<div drag dr-index="{{$index}}" dr-var-name="unCompares" ng-repeat="unCompare in unCompares">
			<div class="moveB">商品名称:{{unCompare.productName}}</div>
		</div drag>
	</div>
	<h3>当前鼠标指向状态:</h3>
	{{ mark }}<br><br>
	<h3>对比内容:</h3>
	{{ compares }}<br><br>
	<h3>管理内容:</h3>
	{{ unCompares }}<br><br>
	
	<button ng-click="addCompare()">add新对比</button>
</body>
</html>
