<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>前端JS框架angular</title>
    <style>
        .lehman{
            color: red;
        }
    </style>

    <script src="/bioec_html/common/js/inc/shivAndJson2.js" type="text/javascript"></script>
    <script data-main="js/test" src="/bioec_html/common/js/inc/require.js" type="text/javascript"></script>
</head>
<body ng-app="myapp" id="ng-app" class="ng-app:myapp" ng-controller="dragController">
<input type="text" ng-model="user.name"/> {{user.name}}
<a href="baidu.com/" class="{{ user.name}}">{{user.name}}</a>

<div ng-repeat="number in numbers">
    {{number+user.name}}
</div>
{{user}}
{{show()}}
</body>
</html>
