<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />

<script src="../common/js/inc/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="js/test.js"></script>
<style>
.r {
	height: 50px;
	width: 50px;
}

.r2 {
	background-color: red;
}

.r3 {
	background-color: #CCC;
}
.r4 {
	display:none;
}
</style>
<title>AngularJS控制器试练</title>

<script>
	var app = angular.module( "hh", [] );
	app.controller( "wordCount", function( $scope, $http ) {
		$scope.scope_r = {'r2':'y','r3':'y'};
		$scope.scope_r4 = "";
		$scope.name = "";
		$scope.t = function(){
			
			$scope.scope_r.splice(0,1);
			console.log( $scope.scope_r )
		};
		$scope.t1 = function(){
			
			$scope.scope_r.splice(0,0,"r2");
			console.log( $scope.scope_r )
		};
		$scope.t3 = function(){
			
			$scope.scope_r.splice(0,0,"r3");
			console.log( $scope.scope_r )
		};
		/* $http( {
			url : "www.baidu.com",
			method : "get"
		} ).success( function( res ) {
			console.log( res );
		} ); */

	} )
</script>

</head>
<body ng-app="hh" id="ng-app" class="ng-app:hh" ng-controller="wordCount">
	<div id="d" class="r"  ng-class="scope_r" ></div>
	<input type="text" ng-model="name" />{{name}}
	<button ng-click="scope_r = 'r2'">test1</button>
	<button ng-click="scope_r = 'r3'">test2</button>
	<button ng-click="scope_r = 'r2 r3'">test3</button>

</body>
</html>

